.items{
    color:#0c0c0b !important;
    padding: 20px;
}
.items:hover {
    color: #D19C97 !important;
}
.heading{
    color: #0c0c0b !important;
    font-weight: 600;
}
.text-color {
    color: #0c0c0b !important;
}
.heading-text {
    font-size: 15px;
}
@media  screen and (max-width:"568px") {
    
}
