.just-heading-container {
  width: 100%;
  align-items: center;
  margin-top: 40px;
}

.just-heading{
  overflow: hidden;
  text-align: center;
  font-weight: bold;
}

.just-heading > span{
 position: relative;
 display: inline-block;
}

.just-heading > span:before, .just-heading > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 3px solid black;
 margin: 0 10px;
}

.just-heading > span:before{
 right: 100%;
}

.just-shop-container {
  padding-right: 60px;
  padding-left: 60px;
}

.just-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
}

@media screen and (min-width: 992px) {
  .just-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
}

.just-product-picture {
  padding: 33px;
  transition: transform 0.2s;
  width: 250px;
  height: 300px;
  margin: 0 auto;
}

.just-product-picture:hover{
  transform: scale(1.4);
}

@media screen and (min-width: 992px) {
  .just-product-picture {
    padding: 47px;
    transition: transform 0.2s;
    width: 322px;
    height: 322px;
    margin: 0 auto;
  }

  .just-product-picture:hover {
    transform: scale(1.3);
  }
}

.hr-line {
  width: 100%;
  margin: 0 auto;
}

.just-product-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}

.just-product-title {
  font-size: 16px;
  font-family: sans-serif;
  color:black;
  font-weight: 600;
}

.just-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.just-product-price{
  font-family: 'Roboto';
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.just-product-cross-price {
  font-family:  'Roboto';
  font-size: 18px;
  color: grey;
  text-decoration: line-through;
  justify-content: space-between;
}

.just-bottom-card-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-size: cover;
}

.just-bottom-button {
  margin: 12px;
}

.just-eye-cart-icon {
  height: 20px;
  width: 20px;
}

.just-button-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-size: cover;
  height: 60px;
}

.just-view-add-button {
  background: none;
  border: none;
  font-size: 12px;
  font-family: sans-serif;
  margin: 4px;
}

.just-view-add-button:hover {
  color:rgb(179, 40, 40);
}