

.sect{
  display: flex; 
 flex-direction: column;
 align-items: center;
 justify-content: center;
  box-shadow: inset;
  height: 100vh;
  width: 100vw;
  background-color:#e9ebea82;
 

}
.login-container{
  flex-direction: row;
  height: 90vh;
  width: 60vw;
  background-color:white;
  display: flex;
  

}
.form-container{
  width:50%;
}
.image-container{
  width: 50%;

  background-size: cover;
  

}
.image{
  width: 100%;
  height: 100%;
 
  
}